@{
    ViewData["Title"] = "Alterar Escola";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="NomeEscola" placeholder="Nome da escola" />
        <br />
        <input type="text" name="CNPJ" placeholder="CNPJ da escola" />
        <br />
        <input type="text" name="Endereco" placeholder="Endereço da escola" />
        <br />
        <input type="text" name="Telefone" placeholder="Telefone da escola" />
        <br />
        <input type="submit" value="Alterar" />
    </form>
</body>
</html>
