﻿@{
ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form asp-action="Login" method="post">
    <label form="Email_Aluno" name="Email_Aluno">E-mail:</label>
    <input type="email" id="Email_Aluno" name="Email_Aluno" required />

    <label for="Senha_Aluno" name="Senha_Aluno">Senha:</label>
    <input type="password" id="Senha_Aluno" name="Senha_Aluno" required />

    @if (ViewBag.Mensagem != null)
    {
        <div>
            @ViewBag.Mensagem
        </div>
    }
    <button type="submit">Entrar</button>

</form>